.raceDescription {
  text-align: left;
  background: #fff;
  padding: 32px; }
  .raceDescription .row {
    align-items: center;
    justify-content: space-between; }
  .raceDescription .starRow {
    direction: rtl;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
    .raceDescription .starRow button {
      border: none;
      font-size: 2rem;
      color: dodgerblue; }
    .raceDescription .starRow > button:hover:before,
    .raceDescription .starRow > button:hover ~ button:before {
      content: "\2605";
      position: absolute; }
